# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps:
- task: octane-start-task@25
  inputs:
    OctaneServiceConnection: 'bddOctaneConnection'
    WorkspaceList: '4002'
    CreatePipelineCheckbox: true

- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    publishJUnitResults: false
  continueOnError: true

- script: |
    echo "Converting BDD results..."
    mvn com.microfocus.adm.almoctane.bdd:bdd2octane:run ^
      "-DreportFiles=**/target/surefire-reports/*.xml" ^
      "-DfeatureFiles=**/src/test/resources/calculator_features/*.feature" ^
      "-Dframework=cucumber-jvm" ^
      "-DresultFile=target/surefire-reports/cucumber-jvm-result.xml"
  displayName: 'Convert BDD Results'

- task: octane-end-task@25
  inputs:
    OctaneServiceConnection: 'bddOctaneConnection'
    WorkspaceList: '4002'
    CucumberReportPath: 'target/surefire-reports/cucumber-jvm-result.xm'