# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

steps:
- task: octane-start-task-private@1
  inputs:
    OctaneServiceConnection: 'AzurePipelinesServiceConnection'
    WorkspaceList: '5001'
    CreatePipelineCheckbox: true

# - task: octane-test-runner-start-task-private@1
#   inputs:
#     OctaneServiceConnection: 'bddPConnection'
#     WorkspaceList: '3001'
#     Framework: 'bddScenario'

- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/cucumber-jvm-result.xml'
    # options: '-Dcucumber.options="--plugin com.hpe.alm.octane.OctaneCucumberFormatter:results/cucumber/Cucumber.xml"'
  continueOnError: true

# - script: |
#     echo "Converting BDD results..."
#     mvn com.microfocus.adm.almoctane.bdd:bdd2octane:run ^
#       "-DreportFiles=**/target/surefire-reports/*.xml" ^
#       "-DfeatureFiles=**/src/test/resources/calculator_features/*.feature" ^
#       "-Dframework=cucumber-jvm" ^
#       "-DresultFile=target/surefire-reports/cucumber-jvm-result.xml"
#     echo 
#   displayName: 'Convert BDD Results'

- task: octane-end-task-private@1
  inputs:
    OctaneServiceConnection: 'AzurePipelinesServiceConnection'
    WorkspaceList: '5001'
    Framework: 'bddScenario'
    CucumberReportPath: 'target/surefire-reports/cucumber-jvm-result.xml'