name: CI ONLY - OpenText Software Delivery Platform Integration
# Events the integration should be triggered on
on:
  pull_request:
    types: [opened, edited, closed, reopened]
  workflow_run:
    # List of workflows to integrate with ALM Octane
    workflows: [ CI ONLY - Many Jobs Serial Workflow, CI ONLY - Many Jobs Parallel Workflow, CI ONLY - Single Job Workflow, CI ONLY - Single Job With Inputs Workflow ]
    types: [requested, in_progress, completed]
# Node configuration for allowing HTTPS requests
env: 
    NODE_TLS_REJECT_UNAUTHORIZED: 0
jobs:
  octane_integration_job:
    # List of runner tags
    runs-on: [ ubuntu-latest ]
    name: OctaneIntegration#${{github.event.action}}#${{github.event.workflow_run.id}}
    steps:
      - uses: actions/checkout@v4
      - name: GitHub Actions ALM Octane Integration
        # Reference to our public GitHub action
        uses: ./
        id: gitHubActionsIntegration
        # Config parameters for the integration
        with:
          # ALM Octane connection data
          octaneUrl: 'https://laura-2.almoctane.com'
          octaneSharedSpace: '1001'
          octaneWorkspace: '1002'
          octaneClientId: 'GitHub Actions_l4rx0ovyprommhlmjwqnpew8q'
          octaneClientSecret: '+44108152311031725218U'
          # Automatically provided GitHub token
          githubToken:  '${{secrets.GITHUB_TOKEN}}'
          # The url that the CI Server in ALM Octane will point to
          serverBaseUrl: https://github.com/
          # Pattern for building the name of the pipeline (see README for full list of placeholders)
          pipelineNamePattern: '${repository_name} ${workflow_name}'
          # Pattern for identifying JUnit style report files for test result injection in ALM Octane
          unitTestResultsGlobPattern: "**/*.xml"
          # Integration debug level
          logLevel: '1'
